@import 'styles/variaveis';

.card_box {
    padding-top: clamp(8rem, 10vw, 12rem);
    margin-inline: auto;
    transform: translateY(-8vh);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        transform: translateY(-13vh);

        >:first-child {
            grid-column: 1/3;
            grid-row: 1/3;
        }

        @media screen and (min-width: 1800px) {
            >:nth-child(9) {
                grid-column: 1/3;
                grid-row: 3/4;
                max-height: 400px;
            }

            >:last-child {
                grid-column: 6/8;
                max-height: 400px;
            }

            >:nth-child(4) {
                grid-column: 6/8;
                grid-row: 2/4;
            }


        }
    }
}