.carousel-container .carousel-item {
    transition: transform 0.5s ease-in-out;
}

.react-multiple-carousel__arrow {
    min-height: auto;
    min-width: auto;
    width: 30px;
    height: 100%;
    border-radius: 0;
}

.react-multiple-carousel__arrow--right {
    right: 0;
    background: linear-gradient(90deg, rgba(255,255,255,0) 19%, rgba(6,6,6, 0.5) 100%);

    &:hover {
        background: linear-gradient(90deg, rgba(255,255,255,0) 19%, rgba(6,6,6, 0.5) 100%);
    }
}

.react-multiple-carousel__arrow--left {
    left: 0;
    background: linear-gradient(270deg, rgba(255,255,255,0) 19%, rgba(6, 6, 6, 0.5) 100%);

    &:hover {
        background: linear-gradient(270deg, rgba(255,255,255,0) 19%, rgba(6, 6, 6, 0.5) 100%);
    }
}

.react-multiple-carousel__arrow::before {
    font-size: 16px;
}

@media (min-width: 768px) {
    .react-multiple-carousel__arrow {
        width: 60px;
    }

    .react-multiple-carousel__arrow::before {
        font-size: 24px;
    }
}