@import 'styles/variaveis';

.btn__container {
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    backdrop-filter: blur(20px);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: $bg-white solid 1px;
    color: $texts-white;
    cursor: pointer;
    font-size: 1.6rem;
}

.btn__container.large {
    width: fit-content;
    height: fit-content;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;

    &::after {
        content: "Fav";
        font-size: 1.6rem;
        margin-left: 0.4rem;
        font-family: $font-title;
        
    }
}