@import 'styles/variaveis';

.stars__container {
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        justify-self: center;
    }

    .star {
        cursor: pointer;

        &__icon {
            path {
                fill: transparent;
                stroke: $bg-white;
            }
        }

        &__icon__active {
            path {
                fill: $bg-white;
                stroke: $bg-white;
            }
        }
    }
}