@import 'styles/variaveis';

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 1rem;

    background: $bg-gradient-blue;
}