@import 'styles/variaveis';

.container {
    .title {
        font-size: clamp(1.6rem, 2vw, 2rem);
        color: $texts-white;
        font-family: $font-title;
        margin-bottom: 1rem;
    }

    .providers {
        background: $bg-black-alternative;
        border-radius: .2rem;
        border: 1px solid #333;
        padding: .6rem .4rem;

        @media screen and (min-width: 768px) {
            width: fit-content;
            padding-inline: 1rem;
            min-width: 25rem;
        }

        .countryButtons {
            :is(button) {
                background: $bg-black-alternative;
                color: $texts-white;
                font-family: $font-text;
                font-size: clamp(1.2rem, 2vw, 1.4rem);
                padding: .4rem .8rem;
                border: 1px solid #333;
                border-radius: .4rem;
                cursor: pointer;
                transition: background .2s;

                &:hover {
                    background: $bg-black-alternative;
                }

                &.activeButton {
                    background: $bg-black;
                }
            }
        }

        .providers_list {
            margin-top: 1rem;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
            gap: 1rem;

            @media screen and (min-width: 768px) {
                display: flex;
                gap: 2rem;
                flex-wrap: wrap;
            }

            .provider_item {
                display: flex;
                flex-direction: column;
                align-items: center;

                :is(img) {
                    width: 4rem;
                    height: 4rem;
                    object-fit: cover;
                    border-radius: .4rem;

                    @media screen and (min-width: 768px) {
                        width: 4.5rem;
                        height: 4.5rem;
                    }
                }

                .provider_name {
                    font-size: clamp(1rem, 2vw, 1.4rem);
                    font-family: $font-text;
                    margin-top: .4rem;
                    text-align: center;
                    max-width: 8rem;
                    
                    @media screen and (min-width: 768px) {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}