@keyframes topDownEntry {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes opacityEntry {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes btnLight {
    0% {
        opacity: 0;
        transform: translateX(-50%) rotate(-60deg);
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateX(500%) rotate(-60deg);
        opacity: 0;
    }
}

@keyframes scaleUp {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes opacityDisplay {
    0% {
        opacity: 0;
        display: none;
    }

    1% {
        display: flex;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacityDisplayReverse {
    0% {
        opacity: 1;
        display: flex;
    }

    99% {
        display: flex;
    }

    100% {
        opacity: 0;
        display: none;
    }
}
