@import './keyframes';

/* ====== CORES BACKGROUND ======= */

$bg-black: #060606;
$bg-white: #fff;
$bg-gray-transparent: #5959592c;

$bg-gradient-blue: linear-gradient(260deg, rgba(25,0,41,1) 11%, rgba(1,22,60,1) 49%, rgba(0,29,13,1) 100%);
$bg-gradient-blue-opacity: linear-gradient(260deg, #19002980 11%, rgba(1,22,60,0.5) 49%, rgba(0,29,13,0.5) 100%);
$bg-home-gradient: linear-gradient(0deg, rgba(0,0,10,1) 13%, rgba(6,6,6,1) 55%);

$bg-radial-black: radial-gradient(circle, rgba(20,20,20,1) 13%, rgba(6,6,6,1) 100%);


/* ====== CORES ======= */

$texts-black: #000;
$texts-white: #fff;

$roxo-claro: #a03aff;

/* ====== PAGE DIMENSIONS ====== */

$page-width: 80vw;


/* ====== FONTS =======  */

$font-title: 'Lexend', sans-serif;
$font-text: 'Archivo', sans-serif;


/* ====== ANIMATIONS ====== */

$topDownEntry: topDownEntry 1s ease normal;
$opacity-entry: opacityEntry 1s ease;
$btnLight: btnLight 2s infinite;
$scaleUp: scaleUp .6s cubic-bezier(0.30, -0.10, 0.27, 1.55) normal;
$opacityDisplay: opacityDisplay .3s forwards;
$opacityDisplayReverse: opacityDisplayReverse .3s;