@import 'styles/variaveis';

.popular_rate {
    display: flex;
    align-items: center;

    .icon {
        color: $texts-white;
        font-size: 1.8rem;
        margin-right: 0.5rem;
    }

    .average_vote {
        font-size: 1.6rem;
        color: $texts-white;
        font-family: $font-title;
    }
}