@import 'styles/variaveis';

.container {
    animation: close 0.6s ease;
    display: none;
    transform: translateX(-110%);
    position: relative;
    width: 100%;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.4rem;

        .title {
            color: $texts-white;
            font-family: $font-title;
            font-weight: 700;
            font-size: clamp(1.6rem, 2.5vw, 2.2rem);
        }

        .close__icon {
            color: $texts-white;
            cursor: pointer;
            font-size: 3.2rem;
        }
    }    
    
    .new_list {
        width: 80%;
        display: flex;
        justify-content: center;
        padding: 2rem 2rem;
        border-top: 1px solid rgba(146, 146, 146, 0.333);
        justify-self: flex-end;
        align-self: center;
        margin-top: 2rem;

        :is(button) {
            text-decoration: none;
            color: $texts-white;
            font-size: clamp(1.2rem, 2vw, 1.4rem);
            font-family: $font-title;
            text-transform: uppercase;
            padding: 0.6rem 2rem;
            border: 2px solid $texts-white;
            background: transparent;
            transition: .3s all;
            backdrop-filter: blur(50px);
            cursor: pointer;
        
            &:hover {
                background: $bg-black;
            }
        }
    }
}

.open {
    animation: open 0.6s ease;
    display: flex;
    transform: translateX(0);
}

@keyframes open {
    0% {
        transform: translateX(-110%);
        display: none;
    }

    1% {
        transform: translateX(-110%);
        display: flex;
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes close {
    0% {
        transform: translateX(0);
        display: flex;
        position: absolute;
    }

    99% {
        display: flex;
    }

    100% {
        display: none;
        transform: translateX(-110%);
        position: absolute;
    }
}