@import 'styles/variaveis';

.btn_submit {
    margin-top: 3rem;
    width: 100%;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 5px;
    background: rgba(1, 0, 22, 0.8);
    color: $texts-white;
    font-size: 1.8rem;
    font-family: $font-title;
    cursor: pointer;
    transition: background 0.3s;
    position: relative;
    overflow: hidden;
    animation: $topDownEntry;

    &::before {
        content: "";
        background: #8b8b8b;
        filter: blur(80px);
        width: 35%;
        height: 100%;
        position: absolute;
        top: -20px;
        left: 0;
        transform: translateX(-50%) rotate(-60deg);
        opacity: 0;
    }

    &:hover {
        background: rgba(1, 0, 22, 1);

        &::before {
            animation: $btnLight;
        }
    }
}