@import 'styles/variaveis';

.header__blur {
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    padding-block: 1rem;
    position: fixed;
    width: 100%;
    transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), backdrop-filter 1s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 100;

    &__content {
        max-width: $page-width;
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .menu_icon {
            font-size: 2.4rem;
            color: $texts-white;
            animation: $topDownEntry;
        }

        &__title {
            color: $texts-white;
            font-family: $font-text;
            font-size: 2.4rem;
            gap: 1rem;
            text-decoration: none;
            animation: $topDownEntry;
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%, -50%);
            text-wrap: nowrap;

            .movie_icon {
                display: none;
            }
        }

        &__nav {
            .nav_list {
                display: flex;
                align-items: center;
                list-style-type: none;
                gap: 2rem;

                .nav_item {
                    text-decoration: none;
                    font-family: $font-title;
                    font-size: 1.6rem;
                    color: $texts-white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    animation: $opacity-entry;

                    &:has(img) {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transform: scale(1.2);
                        }
                    }
                }

                .icon_search {
                    font-size: 2.4rem;
                    color: $texts-white;

                    @media screen and (max-width: 290px) {
                        display: none;
                    }
                }
            }
        }
    }
}

.header__hidden {
    transform: translateY(-100%);
}