@import 'styles/variaveis';

.header {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000000;
    width: 100%;
    transition: .3s all;

    .header__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1.4rem 2.4rem;
        

        @media screen and (min-width: 768px) {
            max-width: $page-width;
            margin-inline: auto;
        }

        .header__title {
            color: $texts-white;
            text-decoration: none;
            text-transform: uppercase;
            font-family: $font-title;
            letter-spacing: 0.20rem;
            max-width: clamp(10rem, 20vw, 20rem);
            
            :is(h1) {
                font-size: clamp(1.8rem, 2vw, 3.2rem);
            }
        }

        .header__nav {
            display: flex;
            gap: clamp(1.2rem, 2vw, 3rem);

            .header__list_container {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .icon_menu {
                    font-size: 3.2rem;
                    color: $texts-white;

                    @media screen and (min-width: 768px) {
                        display: none;
                    }
                }

                .header__list {
                    position: absolute;
                    top: 100%;
                    background-color: #0606065c;
                    backdrop-filter: blur(5px);
                    width: 100%;
                    left: 0;
                    list-style-type: none;
                    gap: clamp(1.6rem, 2vw, 2.4rem);
                    align-items: center;
                    justify-content: flex-end;
                    padding: 1.4rem 2.4rem;

                    display: none;
                    opacity: 0;
                    transform: translate(-100%);
                    animation: MenuMobileExit .3s forwards;

                    @media screen and (min-width: 768px) {
                        display: flex;
                        position: static;
                        background-color: transparent;
                        backdrop-filter: none;
                        transform: none;
                        animation: none;
                        padding: 0;
                        opacity: 1;
                    }
                    
                    :is(li) {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        .header_list_item {
                            color: $texts-white;
                            text-decoration: none;
                            font-family: $font-title;
                            text-transform: uppercase;
                            font-size: clamp(1.4rem, 2vw, 1.6rem);
    
                            @media screen and (min-width: 768px) {
                                text-transform: initial;
                            }
                        }

                        .line {
                            display: none;

                            @media screen and (min-width: 768px) {
                                display: block;
                                width: 0;
                                background: $texts-white;
                                height: 2px;
                                transition: .3s all;
                            }
                        }

                        &:hover {
                            .line {
                                width: 100%;
                            }
                        }
                    }
                }

                .header__list__open {
                    display: flex;
                    opacity: 1;
                    transform: translateY(0);
                    animation: MenuMobileEntry .3s forwards;
                    border-top: 1px solid $texts-white;

                    @media screen and (min-width: 768px) {
                        animation: none;
                    }
                }
            }

            .header__search {
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media screen and (min-width: 768px) {
                    flex-direction: row;
                }

                .search_icon {
                    font-size: 2.6rem;
                    color: $texts-white;

                    @media screen and (min-width: 768px) {
                        display: none;
                    }
                }

                .search_input__container {
                    display: none;
                    opacity: 0;
                    transform: translateY(-100%);
                    animation: MenuMobileExit .3s forwards;

                    position: absolute;
                    top: 100%;
                    padding: .6rem 2rem;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    left: 0;
                    background-color: #0606065c;
                    backdrop-filter: blur(5px);

                    @media screen and (min-width: 768px) {
                        display: flex;
                        position: relative;
                        background-color: transparent;
                        backdrop-filter: none;
                        transform: none;
                        animation: none;
                        padding: 0;
                        opacity: 1;
                        top: auto;
                    }

                    :is(input) {
                        width: 100%;
                        padding: .8rem 1.8rem;
                        border: none;
                        background: #2a2a2adc;
                        border-radius: .2rem;
                        color: $texts-white;
                        font-family: $font-title;
                        font-weight: 400;
                        font-size: clamp(1.6rem, 2vw, 1.6rem);

                        &:focus {
                            outline: none;
                        }

                        @media screen and (min-width: 768px) {
                            background: transparent;
                            border-bottom: 1px solid $texts-white;
                            padding: .6rem;
                            min-width: clamp(15rem, 17vw, 30rem);
                        }
                    }

                    .search_icon {
                        position: absolute;
                        right: 3rem;
                        font-size: 2.4rem;

                        @media screen and (min-width: 768px) {
                            display: flex;
                            right: 0;
                            font-size: 1.8rem;
                        }
                    }
                }
                
                .search_input__container__open {
                    display: flex;
                    opacity: 1;
                    transform: translateY(0);
                    animation: MenuMobileEntry .3s forwards;
                }
            }

            .profile {
                max-width: 3.6rem;
                max-height: 3.6rem;
                
                :is(img) {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }
    }

    &:has(.header__list__open), &:has(.search_input__container__open) {
        background-color: #0606065c;
        backdrop-filter: blur(5px);
    }

    &.header__background {
        background-color: #0606065c;
        backdrop-filter: blur(5px);
    }

    &.header__scroll {
        transform: translateY(-100%);
    }
}

@keyframes MenuMobileEntry {
    0% {
        display: none;
        opacity: 0;
        transform: translateY(-100%);
    }

    1% {
        display: flex;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes MenuMobileExit {
    0% {
        opacity: 1;
        transform: translateY(0);
        display: flex;
    }

    99% {
        display: flex;
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
        display: none;
    }
}