@import 'styles/variaveis';

.form__container {
    background: $bg-gray-transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    padding-inline: 3.2rem;
    padding-block: 4rem;

    :is(h1) {
        font-size: 2.6rem;
        font-weight: 500;
        color: $texts-white;
        font-family: $font-title;
        animation: topDownEntry 1s;
        padding-block: 2rem 1rem;
    }

    .error_message {
        color: #f00;
        font-size: 1.6rem;
        font-family: $font-text;
    }

    .link {
        font-size: 1.4rem;
        font-weight: 400;
        color: $texts-white;
        font-family: $font-text;
        text-decoration: none;
        animation: topDownEntry 1s;
        margin-block: 2rem 1rem;
        align-self: flex-start;
        margin-left: 1rem;

        span {
            margin-right: 0.6rem;
            animation: topDownEntry 1s;
        }

        .link_a {
            text-decoration: none;
            font-weight: 500;
            color: $roxo-claro;
            animation: $topDownEntry;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}