@import 'styles/variaveis';

.btn {
    color: $texts-white;
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    font-family: $font-title;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 2px solid $texts-white;
    background: transparent;
    transition: .3s all;
    backdrop-filter: blur(50px);
    cursor: pointer;

    &:hover {
        background: $bg-white;
        color: $texts-black;
        border: 2px solid $bg-black;
    }
}