@import 'styles/variaveis';

.banner {
    width: 100%;
    min-height: 30rem;
    height: 40vh;
    display: flex;
    position: relative;
    background: #0e0e0e;
    animation: $opacity-entry;

    @media screen and (min-width: 768px) {
        min-height: 20vh;
        max-height: 45vh;
        justify-content: center;
    }

    :is(img) {
        width: 100%;
        object-fit: cover;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.445);
        backdrop-filter: blur(4px);
        top: 0;
        left: 0;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 20vh;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #060606 100%);
        bottom: 0;
        left: 0;
    }
}