@import 'styles/variaveis';

.banner__container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
    .overlay {
        background: linear-gradient(0deg, rgba(6,6,6,1) 0%, rgba(255,255,255,0) 70%);
        height: 40%;
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: 2;
    }

    .banner_video, .banner_image {
        width: 100%;
        height: 99%;
        object-fit: cover;
        object-position: bottom;
        position: absolute;
        top: 0;
        animation: scaleEntry 1s ease normal;
    }

    .banner__video {
        opacity: 0;
        transform: scale(1.2);

        &.loaded {
            animation: scaleEntry 1s ease forwards;
        }
    }

    .banner__content {
        position: relative;
        z-index: 3;
        color: $texts-white;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-width: $page-width;
        margin-inline: auto;
        text-align: left;
        padding-inline: 1rem calc($page-width/1.9);

        @media screen and (max-width: 900px) {
            padding-inline: 2rem;
        }

        .title {
            font-size: clamp(2.2rem, 3vw, 6.4rem);
            font-family: $font-title;
            animation: scaleOpacity 1s ease normal;
            animation-delay: 0s;
        }

        .subtitle {
            font-size: clamp(1.6rem, 3vw, 2.2rem);
            text-transform: uppercase;
            font-weight: 500;
            font-family: $font-title;
            margin-top: 0.5rem;
        }

        :is(p) {
            font-size: clamp(1.4rem, 2.5vw, 2rem);
            margin-top: 1.5rem;
            font-family: $font-title;
            font-weight: 300;
            animation: scaleOpacity 1s ease forwards;
            animation-delay: 0.5s;
            opacity: 0;
        }

        .btns__container {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 3.2rem;
        }
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(260deg, rgba(4,0,8,1) 1%, rgba(0,0,0,0.3) 100%);
        z-index: 1;
        animation: opacity 2s ease normal;
        opacity: 0.8;
    }
}

@keyframes opacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.8;
    }
}

@keyframes scaleEntry {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scaleOpacity {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}